body{
    background: #7a7676;
    margin:0;
    padding:0;
  }
  
  .card{
    border-radius:0;
    margin:10% auto;
    box-shadow:0 0 5px rgb(216, 58, 58);
  
  
    
    height:50%;
    padding-top:50px;
  }
  @media (max-width:768px){
    .card{
        height:auto;
        margin:20px 0;
        padding-bottom:50px;
    }
  }
  .dice1, .dice2{
    margin:0 auto;
    display: block;
     
  }
  
  .roll_btn{
    margin:30px auto;
    display:block;
  }
  
  @media (max-width:768px){
    .display-4{
        font-size:2.5em;
    }
  }